<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586643162544-p7ogne9ffb0bqv9f78a0d851svreerla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586643162544-p7ogne9ffb0bqv9f78a0d851svreerla</string>
	<key>API_KEY</key>
	<string>AIzaSyC1ey5A2eoiUx21nlc2OHH7FyRRjRlp8ew</string>
	<key>GCM_SENDER_ID</key>
	<string>586643162544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rplb</string>
	<key>PROJECT_ID</key>
	<string>rpl-b-295f6</string>
	<key>STORAGE_BUCKET</key>
	<string>rpl-b-295f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586643162544:ios:8899f66c4575fbbb988275</string>
</dict>
</plist>